diy-9-2-multicast-and-validate-events/src/main/mule/csr-interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:accounts-api="http://www.mulesoft.org/schema/mule/accounts-api"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/accounts-api http://www.mulesoft.org/schema/mule/accounts-api/current/mule-accounts-api.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<sub-flow name="Start-log-Sub_Flow" doc:id="cdb1da08-6515-4d5d-a6af-64e46cee4d19" >
		<logger level="INFO" doc:name="Started Mule Message" doc:id="ea61e5fe-0059-4958-8f2e-39202f5baa5e" />
		<set-variable value="#[attributes.headers.csr_user_id]" doc:name="userId" doc:id="155cdda7-af85-4a64-9248-7a7e5c589ae4" variableName="userId" />
	</sub-flow>
	<sub-flow name="End-log-Sub_Flow" doc:id="ac23a6f9-88a8-4fc8-bd13-6240f623d308">
		<logger level="INFO" doc:name="Last Mule Message" doc:id="a4fe0ad4-13d4-4979-8bdd-cd6494158323" />
	</sub-flow>
	<flow name="Get-accounts-by-name" doc:id="b707351b-8ad3-419f-adc2-e0b8efcd6872" >
		<http:listener doc:name="GET /Accounts-based-on-name" doc:id="ebc87f93-7a2e-49fd-9e1c-826d78330ca2" config-ref="HTTP_Listener_config" path="/accounts-name">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_name: vars.accountName,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="145ef93a-11ce-4f2d-a7e5-c30fae0e81f1" name="Start-log-Sub_Flow"/>
		<set-variable value="#[attributes.queryParams.custName]" doc:name="accountName" doc:id="081b6b42-b31f-4558-a8e6-84e66da183a7" variableName="accountName"/>
		<accounts-api:get-accounts doc:name="Get accounts" doc:id="b4d38a42-c511-443a-92c6-b4850d9cc79e" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-name="#[vars.accountName]"/>
		<logger level="INFO" doc:name="Mule Message Ended" doc:id="961376d3-93c9-4957-a256-9d232376dd20" message="#['number_of_accounts: ' ++ sizeOf(payload as Array)]"/>
	</flow>
	<flow name="Get-accounts-by-type" doc:id="e1697e3f-7853-4349-945d-9ab5d494c28d" >
		<http:listener doc:name="Listener" doc:id="61da124f-5b49-47fa-a2d2-22f941cbdb6a" config-ref="HTTP_Listener_config" path="/accounts-by-type">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_type: vars.accountType,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="185cce22-0687-495f-905b-6866a9cdf2ce" name="Start-log-Sub_Flow"/>
		<set-variable value='#[attributes.queryParams.custType default "business"]' doc:name="accountType" doc:id="2f31007a-8933-458a-885a-19af3efb89bf" variableName="accountType"/>
		<accounts-api:get-accounts doc:name="Get accounts" doc:id="8d9f4d47-fd51-4eea-9f87-56a0e87fafde" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-type="#[vars.accountType]"/>
		<set-variable value="#[sizeOf(payload as Array)]" doc:name="SizeOfPayload" doc:id="c6444b3b-3c23-4af8-b129-d3bea5bfe714" variableName="count"/>
		<logger level="INFO" doc:name="Mue Message Ended" doc:id="c0e393d6-0aa3-4e59-a164-8b5181a68d62" message="#['number_of_accounts: ' ++ vars.count as Number]"/>
	
</flow>
	<sub-flow name="valiadtion" doc:id="1336d93a-147b-4312-b3d3-c5dde2b0e148" >
		<set-variable value="#[attributes.queryParams.account_name]" doc:name="accountName" doc:id="494dde2c-d7a7-4f6c-84d1-840b4b3cc1ec" variableName="accountName"/>
		<set-variable value="#[attributes.queryParams.account_type]" doc:name="accountType" doc:id="63fc69b4-65d8-4268-8540-f89a1b752aa3" variableName="accountType"/>
		<validation:is-true doc:name="Is true" doc:id="f3698a81-e2e1-4c82-ae5f-47a5ccf3dc94" expression="#[['business','personal']contains vars.accountType]" message="#['Invalid Type']">
			<error-mapping targetType="APP:ACCOUNT_TYPE" />
		</validation:is-true>
		<set-variable value="#[attributes.queryParams.condition]" doc:name="condition" doc:id="18fbeb4c-0ee7-4977-bbb7-74cd3d7d46e1" variableName="condition"/>
		<validation:is-true doc:name="Is true" doc:id="4ef49831-9b34-47b4-98ff-ab75fd929a9a" expression="#[['AND','OR']contains vars.condition]" message="#['Inavalid Condition']">
			<error-mapping sourceType="EXPRESSION" targetType="APP:CONDITION" />
		</validation:is-true>
	</sub-flow>
	<sub-flow name="or-condition" doc:id="99398a4d-3eb8-4c40-a813-ce84b3cf50de" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="72dc2371-b87f-483a-8911-2bd979e1ffbf" >
			<route >
				<accounts-api:get-accounts doc:name="Get accounts" doc:id="2ae284c0-0e32-4678-8ad8-d4fd091942d2" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-name="#[vars.accountName]"/>
			</route>
			<route >
				<accounts-api:get-accounts doc:name="Get accounts" doc:id="8d365fbb-73c0-452b-8f9b-9370ef5413e1" config-ref="Accounts_API_Config" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" user-id="#[vars.userId]" account-type="#[vars.accountType]"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="3ca1e0c7-16f6-4a74-90c7-1724c331313c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..*payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="csr-interfaceFlow" doc:id="3e8ca21f-48b8-406b-979c-e5f8e5f6c745" >
		<http:listener doc:name="Listener" doc:id="924f860b-ca59-4953-aaea-059901f418fe" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="GET"/>
		<flow-ref doc:name="Flow Reference" doc:id="8e7d54a5-3d60-4c40-9f30-e04eb5d4357c" name="Start-log-Sub_Flow"/>
		<set-variable value="#[attributes.headers.user_Id]" doc:name="userId" doc:id="2284e342-2cbb-4e4b-96dd-ecf3e74ae915" variableName="userId"/>
		<flow-ref doc:name="Flow Reference" doc:id="6719d2bc-9b61-432f-9c1b-17190121791a" name="valiadtion"/>
		<choice doc:name="Choice" doc:id="dad00a5c-78a7-44ba-80eb-cbe6ae64e0ae" >
			<when expression='#[(vars.condition == "AND") or (vars.accountName == null)]'>
				<accounts-api:get-accounts doc:name="Get accounts" doc:id="7a42b4fa-b615-4bf2-8c9d-1af3b83266f3" config-ref="Accounts_API_Config" user-id="vars.userId" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}" account-type="#[vars.accountType]" account-name="#[vars.accountName]"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="52da94d8-be3d-4834-b61d-37ff3f48cb4d" name="or-condition"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="360dea44-aba1-4259-969d-a59bb11c5442">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="9e8cb568-fbc6-4712-8c3a-6b71ac9f91d5" name="End-log-Sub_Flow"/>
		<error-handler />
	</flow>
	<flow name="post-accounts" doc:id="8d882a97-8f26-4954-830a-383efba0402b" >
		<http:listener doc:name="POST /accounts" doc:id="36d42d15-416b-4a1f-9910-b540741f8f29" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="POST">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: vars.accountsNumber,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="c10e2351-798b-40c3-92ec-e580dd3b1c3d" name="Start-log-Sub_Flow"/>
		<set-variable value="#[sizeOf(payload)]" doc:name="accountsNumber" doc:id="d8de6a01-2692-425e-9e9a-9d05e297e192" variableName="accountsNumber"/>
		<vm:publish doc:id="8ace1fea-8075-4dba-a20a-a6ff4c35ee66" doc:name="csr_input_queue" config-ref="VM_Config" queueName="CSR_Input_queue">
			<vm:content ><![CDATA[#[output application/json
---
{
	user_id: vars.userId,
	accounts: payload
}]]]></vm:content>
		</vm:publish>
		<ee:transform doc:name="Transform Message" doc:id="af619b05-2d5d-491a-915a-6dc38226aa84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Accounts submitted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="76f0bd2c-2586-41e3-b4d0-6fe6c8b03471" name="End-log-Sub_Flow"/>
	
</flow>
	<flow name="read-csr-input-queue" doc:id="a95a17a4-36df-461c-92eb-8233ec5c8c52" >
		<vm:listener queueName="CSR_Input_queue" doc:name="csr-input-queue" doc:id="92143a0c-7b9f-4555-ac15-4f4f19c71dbc" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="First Mule Message" doc:id="c09dc791-0543-45c2-9da2-f8179903b123" />
		<set-variable value="#[payload.userId]" doc:name="userId" doc:id="c56c130f-aa8d-47fa-ad56-e8f6a57013f2" variableName="userId"/>
		<accounts-api:create-account doc:name="Create account" doc:id="e716295f-41e3-42f6-b7c7-0117be5f3105" config-ref="Accounts_API_Config" user-id="#[vars.userId]" client-id="${accounts.client_id}" client-secret="${accounts.client_secret}"/>
		<flow-ref doc:name="Flow Reference" doc:id="c20a8624-cee8-461f-a81f-d1d394a44384" name="End-log-Sub_Flow"/>
	
</flow>
</mule>
