diy-13-1-use-the-for-each-scope-and-manual-watermarking/src/main/mule/diyexercise-12-1-trigger-a-flow-and-use-automatic-watermarking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="read-db-accounts-to-csv-auto-watermarking" doc:id="1d4c6790-660f-47a6-8ff8-6e7d92d9889c" >
		<db:listener table="flights_customers" doc:name="customers_flights" doc:id="6eb443cf-31d9-4837-a4db-af4bbf2dec49" config-ref="MySQL_Database_Config" watermarkColumn="accountID" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</db:listener>
		<set-variable value='#[Mule::p("accounts.folder.out") ++ &#10;Mule::p("accounts.filename.prefix") ++ "-" ++ &#10;dw::core::Strings::dasherize(payload.country as String) ++ "-" ++&#10;now() as String {format: "yyyyMMdd"} ++&#10;Mule::p("accounts.filename.ext")]' doc:name="fileName" doc:id="6bb1f944-a98c-49be-a65b-70cdfa543c22" variableName="fileName" />
		<file:write doc:name="Accounts per country per date" doc:id="87e1e849-a3d2-408a-b14f-5bf347e4eb70" path="#[vars.fileName]" mode="APPEND" >
			<file:content ><![CDATA[#[output application/csv header=false
---
payload]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="Logger" doc:id="d8d1034d-7957-409b-878b-c2498e2e19c9" message="#[output application/json --- {&#10;	filename: vars.fileName,&#10;	p: payload&#10;}]" />
	</flow>
	<flow name="read-db-accounts-to-csv-manual-watermarking" doc:id="001976ca-4e66-4d8a-ab61-05ccd1a837cb" >
		<scheduler doc:name="Scheduler" doc:id="33ee19c8-8edc-4689-8911-f08f88cb2dd6" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:id="0e1c5c8f-86b6-41b8-a866-962bebfeda3b" key="maxId" target="maxId" doc:name="maxId" >
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="flights_customers" doc:id="e79cd87f-f33a-490e-b9af-2ec24025619f" config-ref="MySQL_Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM flights_customers WHERE accountID > :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.maxId
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="e9995872-f28b-4df1-ae29-02ee488e5034" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<os:store doc:id="12d1f238-1816-43ff-ad54-1e3d03b79235" key="maxId" doc:name="maxId" >
					<os:value ><![CDATA[#[max(payload.*accountID default [])]]]></os:value>
				</os:store>
				<flow-ref doc:name="set-filenames-and-write-csv-files" doc:id="ac2710f4-6d73-4ecf-8099-f28b086516b8" name="set-filenames-and-write-csv-files" />
				<logger level="INFO" doc:name="Logger" doc:id="7e3ad747-4247-480b-a195-5db1f2c6532d" message="#[output application/json --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d5956361-9c50-4b82-8821-e99fba5909c9" message='#[output application/json --- {message: "No new records"}]' />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="set-filenames-and-write-csv-files" doc:id="d1e17f32-932b-493f-b052-b3693ec9313e" >
		<foreach doc:name="For Each" doc:id="fce41352-e3ab-434a-be98-afd4e6d0135d" collection="#[message.payload.*country distinctBy $]" >
			<set-variable value='#[Mule::p("accounts.folder.out") ++ &#10;Mule::p("accounts.filename.prefix") ++ "-" ++ &#10;dw::core::Strings::dasherize(payload) ++ "-" ++&#10;now() as String {format: "yyyyMMdd"} ++&#10;Mule::p("accounts.filename.ext")]' doc:name="fileName" doc:id="29b21ee9-f1f3-4f37-b97d-472d0e9924b9" variableName="fileName" />
			<ee:transform doc:name="Transform Message" doc:id="785c3535-a530-4943-85d2-02a24e3d6c8b" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.rootMessage.payload filter ($.country == payload)]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Accounts per country per date" doc:id="99770c11-b844-4cd6-80fe-2e058f0f187a" path="#[vars.fileName]" mode="APPEND" >
				<file:content ><![CDATA[#[output application/csv header=false
---
payload]]]></file:content>
			</file:write>
		</foreach>
	</sub-flow>
</mule>
