DIY-7.1-PassEventsBetweenFlows/src/main/mule/csr-interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="Get-accounts-by-name" doc:id="b707351b-8ad3-419f-adc2-e0b8efcd6872" >
		<http:listener doc:name="GET /Accounts-based-on-name" doc:id="ebc87f93-7a2e-49fd-9e1c-826d78330ca2" config-ref="HTTP_Listener_config" path="/accounts-name">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_name: vars.accountName,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Started Mule Message" doc:id="ea61e5fe-0059-4958-8f2e-39202f5baa5e" />
		<set-variable value="#[attributes.headers.csr_user_id]" doc:name="userId" doc:id="155cdda7-af85-4a64-9248-7a7e5c589ae4" variableName="userId"/>
		<set-variable value="#[attributes.queryParams.custName]" doc:name="accountName" doc:id="081b6b42-b31f-4558-a8e6-84e66da183a7" variableName="accountName"/>
		<http:request method="GET" doc:name="Get Accounts-by-name" doc:id="4110c83d-9ee9-40e1-933e-64a65202a2a0" path="/accounts" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[{
	user_id : vars.userId,
	client_id: "908320025ffb4866a35e6f0126eb16b9",
	client_secret: "cEfc4D5945A14a69bCBEd0D77661776c"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	account_name: vars.accountName
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Mule Message Ended" doc:id="961376d3-93c9-4957-a256-9d232376dd20" message="#['number_of_accounts: ' ++ sizeOf(payload as Array)]"/>
	</flow>
	<flow name="Get-accounts-by-type" doc:id="e1697e3f-7853-4349-945d-9ab5d494c28d" >
		<http:listener doc:name="Listener" doc:id="61da124f-5b49-47fa-a2d2-22f941cbdb6a" config-ref="HTTP_Listener_config" path="/accounts-by-type">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: sizeOf(payload as Array),
	account_type: vars.accountType,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Started Mule Message" doc:id="f8f91d47-b34f-4dd1-aab4-34287a820fd7" />
		<set-variable value="#[attributes.headers.csr_user_id]" doc:name="userId" doc:id="4bf6954b-1f2f-4ec8-8306-6f7550fee380" variableName="userId"/>
		<set-variable value='#[attributes.queryParams.custType default "business"]' doc:name="accountType" doc:id="2f31007a-8933-458a-885a-19af3efb89bf" variableName="accountType"/>
		<http:request method="GET" doc:name="Request" doc:id="907457c7-1eaf-449d-9d4e-0cf23ee8c5bc" config-ref="HTTP_Request_configuration" path="/accounts">
			<http:headers ><![CDATA[#[{
	user_id : vars.userId,
	client_id: "132c0a4d6446489cba0827ce1553b8a8",
	client_secret: "A6Db4fB646c14acda9719DEf29D10894"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	account_type: vars.accountType
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[sizeOf(payload as Array)]" doc:name="SizeOfPayload" doc:id="c6444b3b-3c23-4af8-b129-d3bea5bfe714" variableName="count"/>
		<logger level="INFO" doc:name="Mue Message Ended" doc:id="c0e393d6-0aa3-4e59-a164-8b5181a68d62" message="#['number_of_accounts: ' ++ vars.count as Number]"/>
	</flow>
	<flow name="post-accounts" doc:id="8d882a97-8f26-4954-830a-383efba0402b" >
		<http:listener doc:name="POST /accounts" doc:id="36d42d15-416b-4a1f-9910-b540741f8f29" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="POST">
			<http:response >
				<http:headers ><![CDATA[#[{
	number_of_accounts: vars.accountsNumber,
	csr_user_id: vars.userId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="First Mule Message" doc:id="5ea56d83-d4b3-40a1-8b5f-74d1d37f2907" />
		<set-variable value="#[attributes.headers.csr_user_id]" doc:name="userId" doc:id="30e9aaaa-0650-4ea2-8f69-1e8f346e1842" variableName="userId" />
		<set-variable value="#[sizeOf(payload)]" doc:name="accountsNumber" doc:id="d8de6a01-2692-425e-9e9a-9d05e297e192" variableName="accountsNumber"/>
		<vm:publish doc:id="8ace1fea-8075-4dba-a20a-a6ff4c35ee66" doc:name="csr_input_queue" config-ref="VM_Config" queueName="CSR_Input_queue">
			<vm:content ><![CDATA[#[output application/json
---
{
	user_id: vars.userId,
	accounts: payload
}]]]></vm:content>
		</vm:publish>
		<ee:transform doc:name="Transform Message" doc:id="af619b05-2d5d-491a-915a-6dc38226aa84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Accounts submitted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Last Mule Message" doc:id="98b5c042-90d6-4d51-8a45-c150244d74f3" />
	</flow>
	<flow name="read-csr-input-queue" doc:id="a95a17a4-36df-461c-92eb-8233ec5c8c52" >
		<vm:listener queueName="CSR_Input_queue" doc:name="csr-input-queue" doc:id="92143a0c-7b9f-4555-ac15-4f4f19c71dbc" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="First Mule Message" doc:id="c09dc791-0543-45c2-9da2-f8179903b123" />
		<set-variable value="#[payload.userId]" doc:name="userId" doc:id="c56c130f-aa8d-47fa-ad56-e8f6a57013f2" variableName="userId"/>
		<http:request method="POST" doc:name="POST accounts" doc:id="5b2f26a6-edb0-4930-9b74-f6880c55e7ab" config-ref="HTTP_Request_configuration" path="/accounts">
			<http:body ><![CDATA[#[payload.accounts]]]></http:body>
			<http:headers ><![CDATA[#[{
	user_id : vars.userId,
	client_id: "132c0a4d6446489cba0827ce1553b8a8",
	client_secret: "A6Db4fB646c14acda9719DEf29D10894"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Last Mule Message" doc:id="a4fe0ad4-13d4-4979-8bdd-cd6494158323" />
	</flow>
</mule>
